<h2 class="create-news__header"> Create new article</h2>
<div class="create-news__contianer">
    
    <div class="create-news__contianer__column">
        <p>Heading</p>
        <input type="text">
        <p>Short description</p>
        <input type="text">
        <p>Content</p>
        <textarea rows="10" cols="20"></textarea>
    </div>
    <div class="create-news__contianer__column create_right">
        <p>Date</p>
        <input type="text">
        <p>Author</p>
        <input type="text">
        <p>source URL</p>
        <input type="url">
        <br>
        <br>
        <br>
        <div class="create-news__contianer__column__submit-form">

            <button routerLink='/home'><a class="router-link">Save</a></button>
            <button><a routerLink='/home' class="router-link">Cancel</a></button>
        </div>        
        
    </div>
    
</div>
