$backgroundOfHeader: url(../img/m-h-night.jpg);
$textColorOfHeader: white;
$underlineColor: #FF4E33;		
$buttonColor: #E3AC00;
$gradient: linear-gradient(to right,#E0A803,#99374B);
$backgroundOfPage: #21232E;
$textFont: 'Fresca', sans-serif;
$cardBackground: #3B3F50;
$headerColor: black;