$backgroundOfHeader: url(../img/m-h-day.jpg);
$textColorOfHeader: black;
$underlineColor: #14A0C7;		
$buttonColor: #699900;
$gradient: linear-gradient(to right,#689804,#2F5DD0);
$backgroundOfPage: white;
$textFont: 'Source Sans Pro', sans-serif;
$cardBackground: #21232E;
$headerColor: black;
