<h2 class="create-news__header"> Create new article</h2>
<div class="create-news__contianer">
    <div class="create-news__contianer__column">
        <p>Heading</p>
        <input type="text" #name> 
        <p>Short description</p>
        <input type="text" #description>
        <p>Content</p>
        <textarea rows="10" cols="20" #content></textarea>
    </div>
    <div class="create-news__contianer__column create_right">
        <p>Date</p>
        <input type="text" #date>
        <p>Author</p>
        <input type="text" #author>
        <p>source URL</p>
        <input type="url" #url>
        <br>
        <br>
        <br>
        <div class="create-news__contianer__column__submit-form">
            <button routerLink='/home'><a class="router-link" type="submit" (click)='saved(name.value,description.value,content.value,date.value,author.value,url.value)'>Save</a></button>
            <button><a routerLink='/home' class="router-link">Cancel</a></button>
        </div>        
        
    </div>
</div>
